{{page-title "Question"}}
{{#if this.sessionValue}}
<div class="container">
    <div class="card-sec2 mb-2" id="quiz-area">

        <div class="questionCount mt-5 mb-3">
            {{!-- template-lint-disable no-invalid-interactive --}}
            <h3 class="my-2">
                Questions {{this.model.id}} / <span id="totalQuestionIn">{{this.totalQuestionIn}}</span>
            </h3>
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col align-self-center text-center"> {{!---------Timeer section-----------}}
                    <p id="time"></p>
                </div>
                <div class="col align-self-center text-center">
                    <p><b>Weight :</b> {{this.model.weight}}</p>
                </div>
            </div>
        </div>

        <div class="qus-section my-4"> {{!-------------Question number showing sectioin--------------}}
            <div class="qes text-center">
                <p>
                    <b>{{this.model.id}}. {{this.model.question }}</b>
                </p>
            </div><br>

            <div class="ans text-left align-self-center"> {{!-------------Question And answer section--------------}}
                <ul id="options">
                    {{!-- template-lint-disable no-invalid-interactive --}}
                    <li {{on 'click' this.answerOptionClick}}>
                        <input name="q1" id="a" {{on 'click' this.radioButtonClick}} class="ember-view answer"
                            type="radio" value="a" />
                        <label id="a_text" for="a" {{on 'click' this.radioButtonClick}}>{{this.model.a}}</label>
                    </li>
                    <li {{on 'click' this.answerOptionClick}}>
                        <input name="q1" id="b" {{on 'click' this.radioButtonClick}} class="ember-view answer"
                            type="radio" value="b">
                        <label id="b_text" for="b" {{on 'click' this.radioButtonClick}}>{{this.model.b}}</label>
                    </li>
                    <li {{on 'click' this.answerOptionClick}}>
                        <input name="q1" id="c" {{on 'click' this.radioButtonClick}} class="ember-view answer"
                            type="radio" value="c">
                        <label id="c_text" for="c" {{on 'click' this.radioButtonClick}}>{{this.model.c}}</label>
                    </li>
                    <li {{on 'click' this.answerOptionClick}}>
                        <input name="q1" id="d" {{on 'click' this.radioButtonClick}} class="ember-view answer"
                            type="radio" value="d">
                        <label id="d_text" for="d" {{on 'click' this.radioButtonClick}}>{{this.model.d}}</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col align-self-center text-center"> {{!-------------Exit section--------------}}
                    <button type="button" {{on 'click' this.exitFunction}} class="pre"> <i
                            class="fa-solid fa-arrow-left-long"></i> Exit</button>
                </div>
                <div class="col align-self-center text-center"> {{!-------------Next Question--------------}}
                    <button type="button" {{on 'click' this.checkfuntion}} class="pre">Next
                        <i class="fa-solid fa-arrow-right-long"></i></button>
                </div>

            </div>
        </div>

    </div>
</div>

{{else}} {{!------------- without register show this section--------------}}

<h5 class="mt-5 text-center">Sorry!</h5>
<p class="mt-5 text-center">You have must <LinkTo class="linktotag" @route="index">Regiter</LinkTo> befour start quiz
</p>

{{/if}}
{{!--
<Qns /> --}}